@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

.containerHome {
  background-color: #FFF7EA;
  display: flex;
  flex-direction: column;
}

.imageDisplay {
  background-size: cover;
  /* Ensures the image covers the entire width */
  background-position: center;
  /* Centers the image */
  width: 100%;
  background-repeat: no-repeat;
  opacity: 0.9;
  object-fit: cover;
}

.overlay {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 10px;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.overlayTitle {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 20%); /* Start below the intended position */
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 1em;
  
  /* Animation properties */
  opacity: 0; /* Start invisible */
  animation: slideUp 0.7s ease-in-out 2s forwards; /* 0.5s duration, 2s delay */
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.overlayTitle span {
  font-family: 'Alex Brush';
  font-size: 100px;
  color: #ffffff;
  font-weight: 500;
}

.overlayTitle h1 {
  margin: 0;
  font-size: 24px;
  color: #ffffff;
}

.overlayAdjust {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}

.ImagePos {
  width: 50%;
  height: 50%;
}

.overlayTitle .overlayAdjust button {
  background: linear-gradient(135deg, red, orange);
  color: white;
  width: 20%;
  border: none;
  padding: 10px 17px;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 2em;
  margin-left: 17em;
}

.overlayTitle .overlayAdjust button:hover {
  background: linear-gradient(135deg, #d4af65, #a2783a);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.overlayTitle .overlayAdjust button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 4px rgba(212, 175, 101, 0.3);
}

