@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 4px 0px 19px 0px #00000040;
}

.logoDisplay {
    width: 120px;
    height: 120px;
}

.headingDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-left: 1em;
    margin-top: 1em;
}

.headingTitleWed {
    font-family: 'Alex Brush';
    font-size: 36px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: left;
    color: #A2783A;
    display: flex;
    align-items: center;
}

.displayList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4em;
}

.displayList ul {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    list-style-type: none;
}

.displayList ul button {
    border: none;
    background: none;
}

.displayList li a {
    color: inherit;
    text-decoration: none;
}

.displayList li {
    font-size: 14px;
    font-weight: 700;
    line-height: 34.1px;
    text-align: left;
    color: black;
    cursor: pointer;
}

.displayList li:hover {
    color: #916c34;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.detailsList {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}

.detailsList span {
    font-family: Cormorant Garamond;
    font-size: 14px;
    font-weight: 500;
    line-height: 29.06px;
    text-align: center;
    color: #000000;
}

.ImageDisplay {
    width: 500px;
    height: 150px;
}

.displayList li .active {
    color: #916c34;    /* Set the color or any other styles for active link */
    font-weight: bold;          /* Optional: make it bold */
    border-bottom: 2px solid #916c34; /* Optional: underline effect */
}

/* Styling for navigation list */
.displayList ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 2em;
}

.displayList ul li {
    position: relative;
}

/* Styling for links */
.displayList ul li a {
    text-decoration: none;
    color: black;
}


/* Dropdown container */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    z-index: 1;
}

/* Dropdown links */
.dropdown-content a {
    padding: 10px;
    display: block;
    color: black;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Active link styling */
.active {
    color: blue;
}

/* Styling for logo */
.logoDisplay {
    width: 50px;
    height: auto;
}
