/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-banner {
    background: #fff;
    padding: 20px;
    width: 600px;
    height: 500px;
    max-width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-banner h2 {
    margin-top: 0;
}

.modal-content {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.acceptdeclineButtons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.acceptdeclineButtons button{
    width: 100px;
    background-color: black;
    color: #fff;
    padding: 0.5em;
    cursor: pointer;
}

.acceptdeclineButtons button:hover{
    background-color: #fff;
    color: #000000;
}